@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

.header-color {
  z-index: 10;
  top: 0;
  position: -webkit-sticky; /* Safari */
  background: #a9a9a9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #808080, #a9a9a9, #808080 );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #808080, #a9a9a9, #808080 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  position: sticky;
}

/* div.mdl-layout__drawer-button {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

div.mdl-layout__drawer-button > i {
  position: -webkit-sticky;
  position: sticky;
  top: 10rem;
} */

.landing-grid {
  background: #004e92;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #002955, #004e92, #002955);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #002955, #004e92, #002955); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

h1.landingpage-title {
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 5vw;
}

Tabs {
  z-index: 10;
}

div.mdl-layout__content {
  background-color: lightblue;
  background-size: contain;
  background-position:top;
  background: cover;
  min-height: 100%;
  z-index: 0;
} 

/* .projectbg {
  background-color: lightskyblue;
  background-size: contain;
  background-position:top;
  background: cover;
  min-height: 100%;
} */

.projects-grid {
  display: flex;
  flex-wrap: wrap;
}

/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: whitesmoke;
  padding: 2em;
}

/* div.mdl-grid {
  text-align: left;
} */

/* contact page css */

.contact-body {
  padding-top: 2em;
  background-color: whitesmoke;
  text-align: center;
  width: 100%;
  height: 100%;
}

.contact-icon-container {
  display: grid;
  justify-content: center;
  height: 33%;
}

.contact-icon {
  font-size: 6em;
}

/* contact page css */

img.avatar-img {
  width: width;
  border-radius: 20%;
  max-width: 100%;
  height: auto;
  margin-top: 1%;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 85%;
  margin: auto;
}

.banner-text h1 {
  font-size: 5wv;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  align-self: center;
  position: relative;
}

.landingpage-links {
  text-decoration: underline;
} 

.social-links i {
  font-size: 4em;
  color: whitesmoke;
  align-self: center;
  margin: 5px 5px 5px 5px;
  flex-direction: column;
}

.resumebars {
  flex-direction: column;
}

div.skills {
  font-size: 18px;
  padding: 10px;
}

svg {
  color: whitesmoke;
}

div.aboutmebg-container {
  text-align: center;
  height: 100%;
}

img.aboutmebg {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}

div.contact-icon {
  margin-top: 2vw;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
